%dl
  %dt Login
  %dd= user.email
  %dt Login count
  %dd= user.email_count
  %dt Last request at
  %dd= user.last_request_at
  %dt Last email at
  %dd= user.last_email_at
  %dt Current email at
  %dd= user.current_email_at
  %dt Last email ip
  %dd= user.last_email_ip
  %dt Current email ip
  %dd= user.current_email_ip
