%dl
  %dt Login
  %dd= user.email
  %dt Login count
  %dd= user.sign_in_count
  %dt Last request at
  %dd= user.last_sign_in_at
  %dt Last sign in at
  %dd= user.last_sign_in_at
  %dt Current sign in at
  %dd= user.current_sign_in_at
  %dt Last sign in ip
  %dd= user.last_sign_in_ip
  %dt Current sign in ip
  %dd= user.current_sign_in_ip
