!!! Strict
%html{html_attrs}
  %head
    %title Settlers of Catan
    <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
    = stylesheet_link_tag "gamescreen", :media => "screen, projection"
    = javascript_include_tag "application"

  %body
    #container
      %p.notice
        = notice
      %p.alert
        = alert
      = message_block(:class => "message-block").html_safe
      %div
        - if current_user
          Logged in as
          = current_user.email
          = current_user.id
          ,
          = link_to "Logout", user_session_path, :method => :delete
        - else
          = link_to "Login", new_user_session_path
          = link_to "Sign up", new_user_path
      #page
        = yield
    -#= sprockets_include_tag
